# Ignore os arquivos bytecode do Python, que são gerados automaticamente durante a execução
__pycache__/
*.py[cod]

# Ignore o arquivo de variáveis de ambiente, que pode conter informações sensíveis
.env

# Ignore o arquivo .pypirc, que contém o token de API do PyPI, para evitar exposição de credenciais
.pypirc

# Ignore os arquivos de distribuição gerados durante o processo de empacotamento
dist/
build/
*.egg-info/
